.esqueci-senha-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 2rem;
    z-index: 5;
}

.esqueci-senha-container img {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.esqueci-senha-container h1 {
    margin-bottom: 1rem;
    color: #1F1536;
    z-index: 5;
}

.esqueci-senha-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    z-index: 5;
}

.esqueci-senha-container label {
    margin-bottom: 1rem;
    color: #1F1536;
    z-index: 5;
}

.esqueci-senha-container input {
    padding: 0.8rem;
    margin-bottom: 2rem;
    border: 1px solid #1F1536;
    border-radius: 0.3rem;
    font-size: 1rem;
    background-color: white;
    z-index: 5;
}

.esqueci-senha-container button {
    background-color: #1F1536;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 0.3rem;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 5;
}

.esqueci-senha-container button:hover {
    background-color: #564a72;
}