.sobre-nos-container {
    min-height: calc(100vh - 80px); /* Ocupa a tela toda menos o header/footer */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    align-items: center;
    gap: 40px;
    padding: 50px 10%;
    text-align: center;
}

.sobre-nos-content {
    max-width: 900px;
    background-color: #5d476e;
    color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.sobre-nos-content h1 {
    font-size: 2.2rem;
    margin-bottom: 15px;
}

.sobre-nos-content p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 15px;
    color: #ffffff;
}

p {
    color: #5d476e;
}

/* Responsividade */
@media (max-width: 768px) {
    .sobre-nos-container {
        padding: 30px 5%;
    }

    .sobre-nos-content {
        padding: 20px;
    }

    .sobre-nos-content h1 {
        font-size: 1.8rem;
    }

    .sobre-nos-content p {
        font-size: 1rem;
    }
}
