.profile-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .profile-image-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #c8a2c8;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
  }
  
  .profile-image-circle:hover {
    transform: scale(1.05);
  }
  
  .placeholder {
    font-size: 32px;
    color: white;
    font-weight: bold;
  }

  /* Dentro de ProfileImage.css */
  .profile-image {
    width: 220px; /* ou maior se quiser */
    height: 220px;
    border-radius: 50%;
    border: 4px solid white;
    background-color: #c8a2c8;
  }

  
  
