.info-evento-container {
    background-color: #EDE6F2;
    padding: 2rem;
    min-height: 70vh;
    max-width: 1300px;
    margin: 0 auto;
}

.btn-voltar {
    background-color: #5A4E75;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 2rem;
    transition: background-color 0.3s;
    font-size: 1rem;
}

.btn-voltar:hover {
    background-color: #2E284E;
}

.info-evento-content {
    display: flex;
    gap: 3rem;
    align-items: flex-start;
    background: linear-gradient(to bottom, #2E284E, #5A4E75, #8B7EA2);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

.info-evento-imagem {
    flex: 1;
    min-width: 300px;
}

.info-evento-imagem img {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    aspect-ratio: 1/1;
    object-fit: cover;
}

.info-evento-detalhes {
    flex: 1;
    color: white;
}

.info-evento-detalhes h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: white;
}

.info-evento-detalhes p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.btn-reservar {
    background-color: #5A4E75;
    color: white;
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 2rem;
    width: 100%;
    max-width: 300px;
}

.btn-reservar:hover {
    background-color: #2E284E;
}

.evento-nao-encontrado {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    font-size: 1.2rem;
    color: #2E284E;
}

@media (max-width: 768px) {
    .info-evento-content {
        flex-direction: column;
    }
    
    .info-evento-imagem {
        width: 100%;
        min-width: auto;
    }
    
    .info-evento-detalhes {
        width: 100%;
    }
    
    .btn-reservar {
        max-width: 100%;
    }
}