body {
    background-color: #EDE6F2;
}

.meu-perfil-container {
    display: flex;
    justify-content: flex-start; 
    margin-top: 150px; 
    margin-left: 90px; 
}

.meus-convites-btn {
    font-size: 35px; 
    color: black; 
    text-decoration: none;
    font-weight: bold;
    border: none;
    background: none;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.meus-convites-btn:hover {
    opacity: 0.6;
}

