.termos-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url('../../../images/fundotermos.png');
  background-size: cover;
  background-position: center;
  padding: 20px;
  box-sizing: border-box;
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
}

.termos-pdf-container {
  background-color: #ab8feb;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 80px;
  overflow: auto;
  height: auto; 
  height: 100%;
  width: 90%; 
  max-width: 1000px; 
  display: flex; 
  justify-content: center;
  align-items: center;
}

.termos-pdf-container iframe {
  border: none;
  width: 100%; 
  height: 100%; 
}