* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.footer {
  background-color: #272749;
  color: #c2a0bb;
  padding: 25px 20px;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer-container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 15px;
  text-align: center;
}

.footer a {
  color: #c2a0bb;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
}

.footer .footer-section ul li {
  display: inline-block;
}

.footer .footer-social {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

@media (max-width: 1024px) {
  .footer-container {
      flex-direction: column;
      text-align: center;
      padding: 20px;
  }

  .footer ul {
      flex-direction: column;
      gap: 1.5rem;
  }
}

@media (max-width: 768px) {
  .footer-container {
      padding: 15px;
  }

  .footer ul {
      flex-direction: column;
      gap: 1rem;
  }

  .footer-section {
      margin: 10px;
      width: 100%;
  }

  .footer .footer-social {
      gap: 8px;
  }
}

@media (max-width: 480px) {
  .footer-container {
      padding: 10px;
  }

  .footer ul {
      flex-direction: column;
      gap: 0.8rem;
  }

  .footer-section {
      margin: 8px;
      width: 100%;
  }

  .footer .footer-social {
      gap: 6px;
  }
}
